<main>
    <section class="header-container">
        <h5 class="header-text text-center">THE</h5>
        <h2 class="header-text header-curved">BEST OF 2018</h2>
        <label class="header-text text-center">- Highlights of the best things I've experienced during 2018 -</label>
    </section>
    
    <section class="awards-container">
        <h1 class="ribbon">
            <strong class="ribbon-content">Best books</strong>
        </h1>
        <ul class="list-container">
            <li class="item">
                <img class="item--image" src="assets/books/essex.png"/>
                <div class="item--content">
                    <h5 class="item--title">The Essex Serpent</h5>
                    <h6 class="item--author">by Sarah Perry</h6>
                    <p class="item--description">Set in London and an Essex village in the 1890's the novel has a great plot and develops the characters really well. I also loved the themes that appear in the novel and the way they are combined: science vs faith, friendship vs love, feminism, medicine and much more.</p>
                </div>
            </li>
            <li class="item">
                <img class="item--image" src="assets/books/yalom.jpg"/>
                <div class="item--content">
                    <h5 class="item--title">Love's Executioner and Other Tales of Psychotherapy</h5>
                    <h6 class="item--author">by Irvin D. Yalom</h6>
                    <p class="item--description">A collection of ten tales by psychotherapist Irvin D. Yalom and his pacients. The subject in the ten tales vary a lot and may affect the reader in different ways based on the experiences each of us lived. </p>
                </div>
            </li>
            <li class="item">
                <img class="item--image" src="assets/books/blindness.jpg"/>
                <div class="item--content">
                    <h5 class="item--title">Blindness</h5>
                    <h6 class="item--author">by José Saramago</h6>
                    <p class="item--description">Haven't really read much dystopian books this one was a really page turner, despite the writing style that is not really friendly. A city hit by a blindness epidemic and before we know, we are immersed in a world of hopelessness, violence and hate.</p>
                </div>
            </li>
            <li class="item">
                <img class="item--image" src="assets/books/marquez.jpg"/>
                <div class="item--content">
                    <h5 class="item--title">One Hundred Years of Solitude</h5>
                    <h6 class="item--author">by Gabriel García Márquez</h6>
                    <p class="item--description">The story walks us through seven generations of the Buendia family. Taking events from ordinary life and inserting elements of fantasy this book is one of the pioneers of magical realism.</p>
                </div>
            </li>
            <li class="item">
                <img class="item--image" src="assets/books/sapiens.jpg"/>
                <div class="item--content">
                    <h5 class="item--title">Sapiens: A Brief History of Humankind</h5>
                    <h6 class="item--author">by Yuval Noah Harari</h6>
                    <p class="item--description">This book covers a lot of knowledge related to the history of humankind. I would have loved to have a book like this in the high school, cause most certainly my passion for reading and history would have been much higher.</p>
                </div>
            </li>
        </ul>
    </section>

    <section class="awards-container">
        <h1 class="ribbon">
            <strong class="ribbon-content">Best movies</strong>
        </h1>
        <ul class="list-container">
            <li class="item">
                <img class="item--image" src="assets/movies/human.jpg"/>
                <div class="item--content">
                    <h5 class="item--title">Human Planet</h5>
                    <h6 class="item--author">Year: 2011</h6>
                    <p class="item--description">Wonderful! A TV series composed of 8 episodes that explores the life of humans in the most extreme conditions. The movie takes you on a journey in every possible habitat, where surviving seems impossible, but somehow the man adapted to the conditions.</p>
                </div>
            </li>
            <li class="item">
                <img class="item--image" src="assets/movies/bohemian.jpg"/>
                <div class="item--content">
                    <h5 class="item--title">Bohemian Rhapsody</h5>
                    <h6 class="item--author">Year: 2018</h6>
                    <p class="item--description">There are not many movies that I go to the theather to watch, but I'm so glad I did see the movie there. When the movie ended I had the exact same feeling after a live concert.</p>
                </div>
            </li>
            <li class="item">
                <img class="item--image" src="assets/movies/benny.jpg"/>
                <div class="item--content">
                    <h5 class="item--title">Benny & Joon</h5>
                    <h6 class="item--author">Year: 1993</h6>
                    <p class="item--description">A little love story between a mentally ill young woman and a crazy man played brilliantly by Johnny Depp. I had a really good time watching this. Oh, and the song from the beginning of the movie is so awesome: I'm Gonna Be (500 Miles)</p>
                </div>
            </li>
            <li class="item">
                <img class="item--image" src="assets/movies/starship.jpg"/>
                <div class="item--content">
                    <h5 class="item--title">Starship Troopers</h5>
                    <h6 class="item--author">Year: 1997</h6>
                    <p class="item--description">I watched this movie while visiting my friends in Spain. They described it to me as a combination of teenage romantic movie with an interstellar battle: mankind against a killer specie of insects. I couldn't resist it.</p>
                </div>
            </li>
            <li class="item">
                <img class="item--image" src="assets/movies/tomatoes.jpg"/>
                <div class="item--content">
                    <h5 class="item--title">Fried Green Tomatoes</h5>
                    <h6 class="item--author">Year: 1991</h6>
                    <p class="item--description">A gifted group of actors delivering a good drama where friendship is celebrated. Not everyone's cup of tea, but I really loved the atmosphere in the movie. So 90's, so good.</p>
                </div>
            </li>
        </ul>
    </section>

    <section class="awards-container">
        <h1 class="ribbon">
            <strong class="ribbon-content">Best music artists</strong>
        </h1>
        <ul>
            <li>Isaac Gracie</li>
            <li>The mono jacks</li>
            <li>God is an astronaut</li>
            <li>The national</li>
            <li>Valeria Stoica</li>
        </ul>
    </section>

    <section class="awards-container">
        <h1 class="ribbon">
            <strong class="ribbon-content">Best songs</strong>
        </h1>
        <ul>
            <li>The Mono Jacks - Infinit</li>
            <li>The National - Guily party</li>
            <li>Diamonds and rust</li>
            <li>Wolf Alice - Don't delete the kisses</li>
            <li>Cruel Youth - Hatef*ck, </li>
        </ul>
    </section>

    <section class="awards-container">
        <h1 class="ribbon">
            <strong class="ribbon-content">Best youtube videos</strong>
        </h1>
        <ul>
            <li>The broccoli tree</li>
            <li>4.1 miles</li>
            <li>How David Fincher Hijacks Your Eyes</li>
            <li>Why You Don't Want To Go Viral</li>
            <li>Ten meter tower</li>
        </ul>
    </section>
</main>