<main>
    <section class="header-container">
        <h5 class="header-text text-center">THE</h5>
        <h2 class="header-text header-curved">BEST OF 2018</h2>
        <label class="header-text text-center">- Highlights of the best things I've experienced during 2018 -</label>
    </section>
    
    <section class="awards-container">
        <h1 class="ribbon">
            <strong class="ribbon-content">Best books</strong>
        </h1>
        <ul>
            <li>
                <h4>The Essex Serpent</h4>
                <h6>Sarah Perry</h6>
            </li>
            <li>
                <h4>Love's Executioner and Other Tales of Psychotherapy</h4>
                <h6>Irvin D. Yalom</h6>
            </li>
            <li>
                <h4>Blindness</h4>
                <h6>José Saramago</h6>
            </li>
            <li>
                <h4>One Hundred Years of Solitude</h4>
                <h6>Gabriel García Márquez</h6>
            </li>
            <li>
                <h4>Sapiens: A Brief History of Humankind</h4>
                <h6>Yuval Noah Harari</h6>
            </li>
        </ul>
    </section>

    <section class="awards-container">
        <h1 class="ribbon">
            <strong class="ribbon-content">Best movies</strong>
        </h1>
        <ul>
            <li>Human Planet</li>
            <li>Bohemian Rhapsody</li>
            <li>Benny & Joon</li>
            <li>Starship Troopers</li>
            <li>Fried Green Tomatoes</li>
        </ul>
    </section>

    <section class="awards-container">
        <h1 class="ribbon">
            <strong class="ribbon-content">Best music artists</strong>
        </h1>
        <ul>
            <li>Isaac Gracie</li>
            <li>The mono jacks</li>
            <li>God is an astronaut</li>
            <li>The national</li>
            <li>Valeria Stoica</li>
        </ul>
    </section>

    <section class="awards-container">
        <h1 class="ribbon">
            <strong class="ribbon-content">Best songs</strong>
        </h1>
        <ul>
            <li>The Mono Jacks - Infinit</li>
            <li>The National - Guily party</li>
            <li>Diamonds and rust</li>
            <li>Wolf Alice - Don't delete the kisses</li>
            <li>Cruel Youth - Hatef*ck, </li>
        </ul>
    </section>

    <section class="awards-container">
        <h1 class="ribbon">
            <strong class="ribbon-content">Best youtube videos</strong>
        </h1>
        <ul>
            <li>The broccoli tree</li>
            <li>4.1 miles</li>
            <li>How David Fincher Hijacks Your Eyes</li>
            <li>Why You Don't Want To Go Viral</li>
            <li>Ten meter tower</li>
        </ul>
    </section>
</main>