<div class="carousel">
    <div class="carousel--cell">
        <h6 class="carousel--month">January</h6>
        <p class="carousel--description">I got the chance to visit Dublin. Or better said the pubs in Dublin. Cause that's where I have the best memories.</p>
        <img class="carousel--image" src="assets/months/jan.jpg"/>        
    </div>
    <div class="carousel--cell">
        <h6 class="carousel--month">February</h6>
        <p class="carousel--description">Vladeasa was the craziest running competiton ever. The extreme weather transformed it into something to remeber.</p>
        <img class="carousel--image" src="assets/months/feb.jpg"/>
    </div>
    <div class="carousel--cell">
        <h6 class="carousel--month">March</h6>
        <p class="carousel--description">Had the opportunity from my work to travel to the office in Porto. The hills are offering the city a stunning view. If you try the Porto wine, the views become even more amazing.</p>
        <img class="carousel--image" src="assets/months/mar.jpg"/>
    </div>
    <div class="carousel--cell">
        <h6 class="carousel--month">April</h6>
        <p class="carousel--description">Malaga is my second home. Such a pleasure to return there whenever I can. Also, eating at chiringuitos is the best thing ever.</p>
        <img class="carousel--image" src="assets/months/apr.jpg"/>
    </div>
    <div class="carousel--cell">
        <h6 class="carousel--month">May</h6>
        <p class="carousel--description">There is no doubt that the running competition in Apuseni is my favorite. So grateful to be there for the third time in a row.</p>
        <img class="carousel--image" src="assets/months/may.jpg"/>
    </div>
    <div class="carousel--cell">
        <h6 class="carousel--month">June</h6>
        <p class="carousel--description">Quitting smoking is the thing that I'm the most proud of achieving in 2018. Even if I considered myself a social smoker, in June I put an end to this nonsense.</p>
        <img class="carousel--image" src="assets/months/jun.jpg"/>
    </div>
    <div class="carousel--cell">
        <h6 class="carousel--month">July</h6>
        <p class="carousel--description">Ran my first trail marathon in Cindrel. Also the Rodnei Sky Race competition was one of the best. Running in the clouds and the landscapes from 2000m are wonderful.</p>
        <img class="carousel--image" src="assets/months/jul.jpg"/>
    </div>
    <div class="carousel--cell">
        <h6 class="carousel--month">August</h6>
        <p class="carousel--description">I might have missed Untold and Electric Castle festivals in Cluj. But hey, Awake festival was such a nice surprise. 10/10 would return there.</p>
        <img class="carousel--image" src="assets/months/aug.jpg"/>
    </div>
    <div class="carousel--cell">
        <h6 class="carousel--month">September</h6>
        <p class="carousel--description">Zilele Nordului. There must be something that I like about this festival in Moldova since I've been there for the past four years. But as always in life, it's all about the people you surround yourself with.</p>
        <img class="carousel--image" src="assets/months/sep.jpg"/>
    </div>
    <div class="carousel--cell">
        <h6 class="carousel--month">October</h6>
        <p class="carousel--description">Stepping into the 30s also means you get together with a large group of friends on fewer ocasions than before. A birthday party and a night spent outside the city in Salard was a good reason to reunite.</p>
        <img class="carousel--image" src="assets/months/oct.jpg"/>
    </div>
    <div class="carousel--cell">
        <h6 class="carousel--month">November</h6>
        <p class="carousel--description">Seeing three of my favorite bands, Robin And The Backstabbers, Byron and The Mono Jacks playing in Cluj with an orchestra was just amazing.</p>
        <img class="carousel--image" src="assets/months/nov.jpg"/>
    </div>
    <div class="carousel--cell">
        <h6 class="carousel--month">December</h6>
        <p class="carousel--description">It might be close to Cluj, but only now I've been in a city break in Budapest. The food, the Danube cruise and playing an escape room for the first time, made this holiday one of the best.</p>
        <img class="carousel--image" src="assets/months/dec.jpg"/>
    </div>
</div>