:root {
  --base-font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  --bigger-font-size: 1.2em;
  --biggest-font-size: 1.2em;
  --smaller-font-size: 0.8em; }

html {
  font-size: var(--base-font-size);
  font-family: 'Montserrat', sans-serif;
  color: #111111; }

a {
  color: inherit;
  text-decoration: none; }

h2 {
  margin: 0; }

.text-center {
  text-align: center; }

@media screen and (min-width: 1200px) {
  :root {
    --base-font-size: calc(( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ) * 0.7); } }

.header-container {
  background-color: #ebd251;
  padding: 1.5em; }
  .header-container label {
    display: inline-block;
    width: 100%;
    font-size: var(--smaller-font-size); }
  .header-container .header-text {
    margin: 0;
    cursor: default;
    line-height: var(--biggest-font-size); }

.awards-container {
  background-color: #111111;
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .awards-container .ribbon {
    font-size: var(--base-font-size);
    width: 50%;
    position: relative;
    background: #ebd251;
    color: #000;
    text-align: center;
    padding: 0.7em 2em;
    /* Adjust to suit */
    margin: 2em auto 3em;
    /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
    box-shadow: rgba(255, 235, 0, 0.3) 0 16px 7px -13px; }
    .awards-container .ribbon:before, .awards-container .ribbon:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -1em;
      border: 1.5em solid #dab91b;
      z-index: -1; }
    .awards-container .ribbon:before {
      left: -2em;
      border-right-width: 1.5em;
      border-left-color: transparent; }
    .awards-container .ribbon:after {
      right: -2em;
      border-left-width: 1.5em;
      border-right-color: transparent; }
    .awards-container .ribbon .ribbon-content:before, .awards-container .ribbon .ribbon-content:after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      border-color: #9c8407 transparent transparent transparent;
      bottom: -1em; }
    .awards-container .ribbon .ribbon-content:before {
      left: 0;
      border-width: 1em 0 0 1em; }
    .awards-container .ribbon .ribbon-content:after {
      right: 0;
      border-width: 1em 1em 0 0; }
  .awards-container .list-container {
    list-style-type: none;
    padding: 0; }
    .awards-container .list-container .item {
      display: flex;
      margin-bottom: 1em;
      padding: 0 1em;
      align-items: center; }
      .awards-container .list-container .item:hover {
        background-color: #222222; }
      .awards-container .list-container .item .item--image {
        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        height: auto;
        width: 100%;
        max-width: 7em;
        max-height: 7em; }
      .awards-container .list-container .item .item--content {
        margin: 0 0.5em; }
        .awards-container .list-container .item .item--content .item--title {
          font-size: var(--base-font-size);
          margin: 0; }
        .awards-container .list-container .item .item--content .item--subtitle {
          font-size: var(--smaller-font-size);
          margin: 0.5em 0; }
        .awards-container .list-container .item .item--content .item--description {
          font-size: var(--smaller-font-size);
          margin: 0.5em 0;
          font-style: italic; }
    .awards-container .list-container a:nth-child(even) .item--image {
      order: 1; }

.awards-container:nth-child(odd) {
  background-color: #ebd251;
  color: #111111; }
  .awards-container:nth-child(odd) .list-container .item:hover {
    background-color: #dab91b; }
  .awards-container:nth-child(odd) .ribbon {
    color: white;
    background-color: #333333;
    box-shadow: rgba(0, 0, 0, 0.5) 0 16px 8px -12px; }
    .awards-container:nth-child(odd) .ribbon:before, .awards-container:nth-child(odd) .ribbon:after {
      border: 1.5em solid #222222; }
    .awards-container:nth-child(odd) .ribbon:before {
      border-right-width: 1.5em;
      border-left-color: transparent; }
    .awards-container:nth-child(odd) .ribbon:after {
      border-left-width: 1.5em;
      border-right-color: transparent; }
    .awards-container:nth-child(odd) .ribbon .ribbon-content:before, .awards-container:nth-child(odd) .ribbon .ribbon-content:after {
      border-color: #111111 transparent transparent transparent; }
  .awards-container:nth-child(odd) a:nth-child(odd) .item--image {
    order: 1; }
  .awards-container:nth-child(odd) a:nth-child(even) .item--image {
    order: 0; }

.carousel {
  background: #ebd251; }
  .carousel .carousel--cell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 66%;
    min-height: 18em;
    height: calc(100% - 1em);
    margin-right: 10px;
    background: #333333;
    color: white;
    border-radius: 5px;
    counter-increment: carousel-cell;
    box-shadow: inset 0 4px 7px 1px #272727, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05); }
    .carousel .carousel--cell .carousel--month {
      margin: 1em 0.2em 0.2em;
      padding: 0;
      font-size: var(--bigger-font-size); }
    .carousel .carousel--cell .carousel--description {
      margin: 0.2em 1em;
      font-size: var(--smaller-font-size); }
    .carousel .carousel--cell .carousel--image {
      max-width: calc(100% - 2em);
      max-height: 10em;
      margin-bottom: 1em; }
