body {
  background: yellow; }

section {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  /* position: absolute; */
  /* top: 0; */
  z-index: -100; }
  section.section-1 {
    background: #6C7A89; }
  section.section-2 {
    background: #2574A9; }
  section.section-3 {
    background: #26A65B; }

#january, #february {
  height: 100%; }

.awards-container section {
  position: relative; }

.awards-container .category {
  position: absolute;
  top: 68px;
  left: 116px;
  background-color: #6C7A89;
  font-size: 38px;
  text-align: center;
  width: 269px;
  height: 101px;
  color: #01664e;
  display: flex;
  justify-content: center;
  align-items: center; }
