.carousel {
    background: $primary-color;

    .carousel--cell {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 66%;
        min-height: 18em;
        height: calc(100% - 1em);
        margin-right: 10px;
        background: $secondary-color-lightest;
        color: white;
        border-radius: 5px;
        counter-increment: carousel-cell;

        .carousel--month {
            margin: 1em 0px;
            padding: 0;
        }
    
        .carousel--description {
            margin: 1em;
            font-size: calc(var(--base-font-size) * 0.7);
        }

        .carousel--image {
            max-width: calc(100% - 1em);
            max-height: 10em;
            margin-bottom: 1em;
        }
    }
}

@media screen and (min-width: 1024px) {
    .carousel--cell {
        min-height: 17em !important;
    }
}
@media screen and (min-width: 1550px) {
    .carousel--cell {
        min-height: 16em !important;
    }
}

@media screen and (min-width: 1800px) {
    .carousel--cell {
        min-height: 15em !important;
    }
}