.carousel {
    background: $primary-color;

    .carousel--cell {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 66%;
        min-height: 18em;
        height: calc(100% - 1em);
        margin-right: 10px;
        background: $secondary-color-lightest;
        color: white;
        border-radius: 5px;
        counter-increment: carousel-cell;
        box-shadow: inset 0 4px 7px 1px #272727, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);

        .carousel--month {
            margin: 1em 0.2em 0.2em;
            padding: 0;
            font-size: var(--bigger-font-size);
        }
    
        .carousel--description {
            margin: 0.2em 1em;
            font-size: var(--smaller-font-size);
        }

        .carousel--image {
            max-width: calc(100% - 2em);
            max-height: 10em;
            margin-bottom: 1em;
        }
    }
}