:root {
    --base-font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) );
}

html {
    font-size: var(--base-font-size);
    font-family: 'Montserrat', sans-serif;
    color: $secondary-color;
}

h2 {
    margin: 0;
}

.text-center {
    text-align: center;
}