.header-container {
    background-color: $primary-color;
    padding: 1.5em;

    label {
        display: inline-block;
        width: 100%;
        font-size: var(--smaller-font-size);
    }

    .header-text {
        margin: 0;
        cursor: default;
        line-height: var(--biggest-font-size);
    }
}